body {
    font-family: "Lato", sans-serif;
  }

  .dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 200%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2c3e50;
}

.dropdown.active .dropdown-content {
    display: block;
}

  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #2c3e50;
  }

  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px;
    font-size: 28px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}  
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f8f9fa;
    color: #495057;
}

#nav-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #2c3e50;
  padding: 20px;
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  text-align: left;
}


#container {
    margin-left: 220px;
    flex: 1;
    max-width: 800px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 240px;
}

h1, h2, h3 {
    color: #2c3e50;
}

p {
    line-height: 1.6;
}

code {
    background-color: #2c3e50;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
}

#nav-panel a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#nav-panel a:hover {
    background-color: #34495e;
}

.example {
    margin-bottom: 20px;
    border: 1px solid #dfe4ea;
    padding: 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    overflow-x: auto;
    text-align: right;
}

.example code {
    white-space: pre-wrap;
    display: block;
    margin: 0;
}

#nav-panel #instructionsBtn,
#nav-panel #instructionsBtn:hover,
#nav-panel #instructionsBtn.active {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    padding: 0px;
    font-size: 16px;
    margin: 0;
    transition: background-color 0.3s;
}

#nav-panel #instructionsBtn:hover {
    background-color: #34495e;
}

#nav-panel #instructionsBtn.active {
    background-color: #34495e;
}

#documentation-credit {
  font-size: 14px; 
  font-style: italic; 
  color: #555; 
  margin-top: 10px; 
}

